/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height:100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
$color-Soft-orange: hsl(35, 77%, 62%);
$color-Soft-red: hsl(5, 85%, 63%);


$color-Off-white: hsl(36, 100%, 99%);
$colorGrayish-blue: hsl(233, 8%, 79%);
$colorDark-grayish-blue: hsl(236, 13%, 42%);
$colorVery-dark-blue: hsl(240, 100%, 5%);


// BODY 
body {
    padding:2rem;
    max-width:1350px;
    overflow:hidden;
    margin:0 auto;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;  
  }

 
// HEADER

header {
    display:flex;
    justify-content: space-between;
}



.header__nav li {   
    display:inline-block;
    list-style: none;
    padding:1.25rem;
}

.nav__hamburger {
  display:none;
}

.header__nav--hover  {
    a{
    color:inherit;
    transition:.2s;
}
    
}

.header__nav--hover a:hover {
    color:$color-Soft-orange;
}

// MAIN 
main {
    
    margin-top:25px;
    display:grid;
    grid-template-columns:400px 1fr 1fr;
    grid-template-rows:repeat(auto-fill,3fr);
    grid-template-areas:"t1 t1 t2" 
                        "t3 t4 t2"
                        "t5 t6 t7";
    gap:50px;
    
}

.logoContainer {
  grid-area:t1;
   
}



.hero__heading {
    grid-area:t3;
    h1 {
        font-size:4rem;
        font-weight:800;
        line-height:1;
    }
}

.hero__paragraph {
    grid-area:t4;
    font-size:15px; 
    button {
        padding:10px 20px 10px 20px;
        border:none;
        
        a {
            text-transform:uppercase;
            color:white;
            font-size:1rem;
            font-weight:600;
            letter-spacing: 4px;
            
        }  
}
}
.btn-red {
margin-top:60px;    
background-color: $color-Soft-red;
transition:.2s;
}

.btn-red:hover {
cursor:pointer;
background-color:$color-Soft-orange;
}

// SIDEBAR

.sidebar {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    
    grid-area:t2;
    background-color: $colorVery-dark-blue;
    color:white;
    padding:25px;
}

.side__heading {  
    color:$color-Soft-orange; 
    font-size:2rem;  
}

.sidebar__item {
    margin-top:25px;
    p {
      margin-top:10px;
    }
}

.side__item--underline {
   border-bottom:1px solid rgba(255, 255, 255, 0.5);
    padding-bottom:45px; 
}

// Features

.product__item {
    display:flex;
    align-items: center;
   img {
    
    height:135px;
    
   }
}

.product__item--pc {
  grid-area:t5;
}

.product__item--laptop {
  grid-area:t6;
}

.product__item--controller {
  grid-area:t7;
}

.product__item--text {
  
margin-left:25px;
  h3 {
    font-weight:700;
  }
  p {
    font-size:13px;
    margin-top:25px;
  }
}

.label {
  color:rgba(0, 0, 0, 0.5);
}

@media (max-width:1300px) {
body {
  overflow:scroll;
  padding:1.5rem;
}

  main {
  justify-content: center;
    align-items:center;
  grid-template-columns:1fr 1fr;
  grid-template-rows:auto;
  grid-template-areas:"t1 t1 t1" "t2 t2 t2" "t3 t4 t4" "t5 t6 ." "t7 . .";
  
}
}

@media (max-width:850px) {
  body {
    overflow:scoll;
    padding:1rem;
  }

  .nav__links {
    display:none;
  }

  .nav__hamburger { 
    display:block;
    padding-top:12px;
    width:55px;
  }

  main {
    justify-content: center;
      align-items:center;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-template-areas:"t1" "t2" "t3" "t4" "t5" "t6" "t7";
    

}}