@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
// primary colors
$color-primary-violet:hsl(263, 55%, 52%);
$color-primary-gray-blue:hsl(217, 19%, 35%);
$color-primary-black-blue:hsl(219, 29%, 14%);

// secondary (font) colors
$color-black:black;
$color-opacity-black:rgba(0, 0, 0, 0.5);

$color-white:white;
$color-opacity-white:hsla(0, 0%, 100%, 0.5);


// Global reset
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:18px;
    
	line-height: 1;
    
}

ol, ul {
	list-style: none;
}




//Web Layout
.center__content {
    display: grid;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    grid-template-areas:
    "daniel daniel jonathon kira" 
    "jeanette patrick patrick kira";
  }

  

  
  
    
  
.daniel {
    grid-area:daniel;
    z-index: 1;
    position:relative;
    .card__image img {
        border-radius:50px;
        border:1px solid purple;
    }

    .card__heading p {
        margin-top:20px;    
        font-size:1.16em;
        
    }
}

#quotation_img {
    position:absolute;
    z-index: -1;
    bottom:68%;
    left:65%;
    transform:scale(1.4)
}

.jonathon {
    grid-area:jonathon;
    background-color:$color-primary-gray-blue;
    .card__image img {
        border-radius:100px;
        border:1px solid white;
    }
    
    .card__heading p {
        margin-top:20px;
        font-size:1.16em;
    }
    
}

.kira {
    grid-area:kira;

    .card__heading {

   
    h1 {
        margin-top:30px;
    }

    p {
         
            margin-top:50px;
            font-size:1.18em;
        
    }
}
}

.jeanette {
    grid-area:jeanette;
    
    .card__heading {
    h1 {
        margin:0;
        width:80%;
    }
    p {
        margin-top:50px;
            font-size:1.18em;

            
    }
}
    }
    

.patrick {
    grid-area:patrick;
    background-color:$color-primary-black-blue;
    .card__image {
        border-radius:50px;
        border:1px solid purple;
    }
    .card__heading{
       p {
        margin-top:50px;
        font-size:1.13em;
       
    } 
    } 
    
}
// Card Layout
section {
    padding:40px;
    background-color:$color-primary-violet;
    border-radius:10px;
    
    position:relative;
}



// Heading
.card__header {
display:flex;
h1 {
    font-size:1.2rem;
}

}



.card__image img {
    border-radius:50px;
    
}

.card__name {
    font-weight:600;
}

ul {
    margin-left:30px;
}

li {
    padding-top:2px;
}

#card__title p {
    font-size:1rem;
    

}
// Testimonial
.card__heading {
    margin-top:20px;

    p {
        line-height: 1.2;
        font-weight:600;       
    }
}

.white {
    h1 {
        color:$color-white;
    } 
    p {
        color:$color-opacity-white;
    }
}

.black {
    background-color:$color-white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    h1 {
color:$color-black;
    }
    p {
color:$color-opacity-black;
    }
}





@media (max-width:1900px) {
    
    
    .center__content {
        width:80%;
    }
    
    main {
        grid-template-columns:1fr;
        grid-template-areas: "daniel""jonathon" "kira" "jeanette" "patrick" ;
        grid-template-rows:1fr;

        
    }

    .card {
        font-size:.8rem;
        
        
    }

    .kira {
        .card__heading {
            h1 {
                margin-top:0;
            }
        
            p {         
                    margin-top:20px;
                    font-size:1.18em;             
            }
        }
    }
  .jeanette {
        .card__heading {
            h1 {
                margin-top:0;
            }
        
            p {         
                    margin-top:20px;
                    font-size:1.18em;             
            }
        }
    }

}
